// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";


html {
    
    :focus {outline:none;}
::-moz-focus-inner {border:0;}
}
// Custom SASS
body {
//  background-color: #FFF;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.footer {
  padding-top: 20px;
  padding-bottom: 10px;
//  margin-top: 20px;
  border-top: 1px solid #eee;
}

.masthead {
//    margin: 15px auto;
}

.navbar { margin-bottom: 0;}
.navbar-default {
//    background-color: #FFF;
//    border-color: #FFF;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.example3 .navbar-brand {
  height: 100px;
}

.example3 .nav >li >a {
  padding-top: 40px;
  padding-bottom: 40px;
}
.example3 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

 .navbar-default .navbar-nav > .active{
       background: #FFF;
 }
     .navbar-default .navbar-nav > .active > a, 
     .navbar-default .navbar-nav > .active > a:hover, 
     .navbar-default .navbar-nav > .active > a:focus {
     background-color: #F8F8F8;
 }
.masthead > h3 {
	font-size: $font-size-h1;
}

#one {     
    position:relative;
    width:100% !important;
    -webkit-box-shadow:0px 1px 5px lighten(#999, 20%);
     -moz-box-shadow:0px 1px 5px lighten(#999, 20%);
     box-shadow:0px 1px 5px lighten(#999, 20%);
    
    .container {
        
        padding-top: 25px;
        padding-bottom: 25px;
        
    }
}

#one:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 35px #FFF;
    border-left: solid 35px transparent;
    border-right: solid 35px transparent;
    
}

#two {
    background-color: #F2F2F2;
    .container {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  // background-color: transparent;
  background-image: url('../images/property-jumbotron.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  color: #FFF;
    margin-bottom: 0;
}
.jumbotron-text {
    margin: 100px auto;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.row {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}